//------------------------------------
//  Task styles
//------------------------------------

a.task {
    background: $dark-blue;
    color: $white;
    display: block;
    position: relative;
    outline: 0;
    transition: all .1s ease-in-out;

    &:hover {
        color: $white;
        background: $dark-blue-hover;
        text-decoration: none;
    }
}

a.task > .priority {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: $white;
    border-right: 1px solid $dark-blue-hover;
}

a.task.-complete {
    background: $green;

    &:hover {
        background: $green-hover;
    }
}

a.task.-complete > .priority {
    border-right: 1px solid $green-hover;
}

a.task > .checkbox {
    display: block;
    padding: 0.5rem 0;
    width: 2.2rem;
    color: $white;
    text-align: center;
    float: right;
    background: rgba(255, 255, 255, 0.1);
    transition: all .1s ease-in-out;

    &:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}
