{% extends "focus/base.html" %}

{% block pageclass %}{% endblock %}

{% block subtitle %}Create new todo{% endblock %}

{% block body %}

    <form id="contact" method="post" action="">
        {% csrf_token %}

        {{ form.text.errors }}

        <input type="text"
               id="{{ form.text.auto_id }}"
               class="input"
               maxlength="200"
               placeholder="Enter new todo"
               autofocus
               name="{{ form.text.name }}">

        <input type="submit"
               name="submit"
               class="button"
               id="submit"
               value="Create" />

        <a href="{% url 'todos:index' %}"
           class="button -cancel">
            Cancel
        </a>

    </form>

{% endblock %}
