{% extends "focus/base.html" %}

{% block pageclass %}-focus{% endblock %}

{% block body %}

    <div class="focus {% if todo.complete %}-complete{% endif %}">
        {{ todo.text }}
    </div>

    {% if not todo.complete %}
        <a class="button -complete"
           href="{% url 'todos:complete' todo.pk %}">
            Complete
        </a>
    {% endif %}

    {% if todo.next %}
        <a class="button -next"
           href="{% url 'todos:focus' todo.next.pk %}">
            {% if todo.complete %}
                Next
            {% else %}
                Skip
            {% endif %}
        </a>
    {% endif %}

    <a class="button -home"
       href="{% url 'todos:index' %}">
        Home
    </a>

{% endblock %}
