{% extends "focus/base.html" %}

{% block pageclass %}-index{% endblock %}

{% block shelf %}
    <h1>
        <a href="{% url 'todos:index' %}">Focus</a>
        <small>
            Click on a todo to focus on it
        </small>
        <a href="{% url 'todos:create' %}"
           class="shelflink">
            <i class="fa fa-plus"></i>
        </a>
    </h1>
{% endblock %}

{% block body %}

    {% csrf_token %}

    <ul class="todos" id="js-todos">
        {% for todo in todos %}
            <li class="todo{% if todo.complete %} -complete{% endif %}"
                id="todo{{ todo.pk }}">

                <span class="priority">
                    {{ forloop.counter }}
                </span>

                <a class="focuslink"
                   href="{% url 'todos:focus' todo.pk %}">
                    {{ todo.text }}
                </a>

                <span class="checkbox js-toggle"
                   data-href="{% url 'todos:toggle' todo.pk %}">
                    {% if todo.complete %}
                        <i class="fa fa-check-square"></i>
                    {% else %}
                        <i class="fa fa-square"></i>
                    {% endif %}
                </span>
            </li>
        {% empty %}
            <li>
                <p>No todos yet.</p>
            </li>
        {% endfor %}
    </ul>

    <p class="todolistfooter">
        <span class="js-numcompleted">
            {{ completed }}
        </span> / {{ total }} |
        <a class="resetlink" id="js-reset"
           href="{% url 'todos:reset' %}">
            Reset
        </a>
    </p>

{% endblock %}
