//------------------------------------
//  HTML styles
//------------------------------------

html, body {
    background: $white;
}

.-floatright {
    float: right;
}

.-floatleft {
    float: left;
}
