//------------------------------------
//  HTML styles
//------------------------------------

html, body {
    background: $white;
}

a,
a:hover,
a:visited {
    color: $dark-blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}
