//------------------------------------
//  HTML styles
//------------------------------------

html, body {
    background: $white;
}

.container {
    min-width: 300px;
}

a,
a:hover,
a:visited {
    color: $dark-blue;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}
