//------------------------------------
//  Colour variables
//------------------------------------

$white: #ecf0f1;
$white-hover: #bdc3c7;

$grey: #95a5a6;
$grey-hover: #7f8c8d;

$blue: #2980b9;
$blue-hover: #3498db;

$dark-blue: #2c3e50;
$dark-blue-hover: #34495e;

$green: #27ae60;
$green-hover: #2ecc71;

$red: #c0392b;
$red-hover: #e74c3c;

$teal: #16a085;
$teal-hover: #1abc9c;

$yellow: #f39c12;
$yellow-hover: #f1c40f;

$orange: #d35400;
$orange-hover: #e67e22;

$purple: #9b59b6;
$purple-hover: #8e44ad;
