//------------------------------------
//  Index page styles
//------------------------------------

.-index {

    .todos {
        padding: 0;
        margin: 0;
    }

    .todolistfooter {
        float: right;
    }

    .todolistfooter > .resetlink {
        outline: 0;
    }

}
