//-------------------------------------
//  Error list styles
//  List of errors django forms creates
//-------------------------------------

.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.errorlist li {
    width: 100%;
    background: $red-hover;
    padding: 0.4rem 1rem;
    color: white;
    font-size: 0.8rem;
}
