//------------------------------------
//  Focusheader styles
//------------------------------------

.focusheader {
    background: $white-hover;
    padding: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.focusheader > a {
    padding: 0 1rem;
    color: $white;
    outline: 0;

    &:hover {
        text-decoration: none;
        color: $dark-blue;
    }
}

.focusheader .nextlink {
    float: right;
}
