//------------------------------------
//  Focus styles
//------------------------------------

.focus {
    margin-top: 3rem;
    color: $grey;
    padding: 2rem 0;
    text-align: center;
}

.focus > .text {
    color: $dark-blue;
    opacity: 0.8;
    @extend .giga;
}

.focus > .check {
    opacity: 0.2;
    color: $grey;
    outline: 0;
    @extend .giga;

    &.-complete {
        opacity: 0.6;
        color: $green;
    }

    &:hover {
        opacity: 0.4;
    }
}

.focus > .upnext {
    display: block;
    font-size: 1rem;
    opacity: 0.4;
    margin-top: 1rem;
}
