//------------------------------------
//  Form input styles
//------------------------------------

.input {
    width: 100%;
    padding: 1rem;
    outline: 0;
    border: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in-out;
    margin-bottom: 1rem;

    &:focus {
        border-bottom-color: $purple;
    }
}
