//------------------------------------
//  Loading styles
//------------------------------------

.loadinglogo {
    width: 100%;
    padding: 0 20px;
    margin-top: 10%;
}

@keyframes rotate {
    0%       {transform: rotate(0deg);}
    50%     {transform: rotate(180deg);}
    100%     {transform: rotate(360deg);}
}

.loadinglogo > .icon {
    transform-origin: 50% 50%;
    animation: rotate 2s infinite;
}

svg:not(:root) {
    overflow: visible;
}
