//------------------------------------
//  Shelf styles
//------------------------------------

.shelf {
    @include clearfix();
    @include row();
    padding: 1rem 0;
}

.shelf > .heading {
    display: inline-block;
    margin: 0;
}

.shelf > .numcompleted {
    display: block;
    float: right;
    text-align: right;
    padding-top: 1.2rem;

    @include breakpoint(small, max) {
        padding-top: 0.2rem;
    }
}
