//------------------------------------
//  Todolistfooter styles
//------------------------------------

.todolistfooter {
    padding: 1rem 0;
    @include clearfix();
}

.todolistfooter > .newtodoform {
    display: inline;

    @include breakpoint(extra-small, max) {
        display: block;
    }
}

.todolistfooter > .newtodoform > .newtodoinput {
    padding: 0.6rem 1rem;
    border: none;
    border-bottom: 0.2rem solid $white-hover;
    background: darken($white, 3%);
    outline: 0;
    line-height: 1.5rem;
    width: 50%;
    transition: all .2s ease-in-out;
    color: $dark-blue;
    // Stop iOS auto border raduis
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &:hover {
        background: darken($white, 5%);
    }

    &:focus {
        border-bottom-color: $red;
    }

    @include breakpoint(extra-small, max) {
        width: 100%;
        margin-bottom: 0.4rem;
    }
}

.todolistfooter > .resetlink {
    padding: 0.4rem 1rem;
    float: right;
    outline: 0;
    background: $teal;
    border-bottom: 0.2rem solid $teal-hover;
    opacity: 0.8;
    transition: all .2s ease-in-out;
    color: $white;
    // Stop iOS auto border raduis
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &:hover {
        background: $teal-hover;
        text-decoration: none;
        border-bottom-color: darken($teal-hover, 5%);
    }

    &:focus,
    &:active {
        background: $teal-hover;
        border-bottom-color: darken($teal-hover, 10%);
    }

    @include breakpoint(extra-small, max) {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
}
