//------------------------------------
//  Todo styles
//------------------------------------

.todos {
    background: $dark-blue;
}

.todo {
    background: $dark-blue;
    display: block;
    position: relative;
    transition: all .3s ease-in-out;

    &.-complete {
        background: $green;

        &:hover {
            background: $green-hover;
        }
    }

    &.-complete > .priority {
        border-right: 1px solid $green-hover;
    }

    &.-dragging {
        background: $red;
        transform: scale(1.02);
    }

    &.-dragging > .priority {
        border-right: 1px solid $red-hover;
    }

    &:hover {
        background: $dark-blue-hover;
    }
}

.todo > .focuslink {
    color: $white;
    outline: 0;
}

.todo > .priority {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: $white;
    border-right: 1px solid $dark-blue-hover;
    width: 3rem;
    text-align: center;
}

.todo > .delete,
.todo > .toggleStatus {
    display: block;
    padding: 0.5rem 0;
    width: 2.2rem;
    color: $white;
    text-align: center;
    float: right;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all .1s ease-in-out;

    &:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}

.todo > .delete {
    background: rgba(255, 255, 255, 0);
    opacity: 0.5;

    &:hover {
        background: rgba(255, 255, 255, 0);
        opacity: 1;
    }
}
