{% extends "focus/base.html" %}

{% block body %}

    <div class="focus">
        {{ todo.text }}
    </div>

    {% if next %}
        <a class="button -floatright"
           href="{% url 'todos:focus' next.pk %}">
            Complete
        </a>
    {% endif %}

    {% if next %}
        <a class="button -yellow -floatright"
           href="{% url 'todos:focus' next.pk %}">
            Skip
        </a>
    {% endif %}

    <a class="button -orange -floatright"
       href="{% url 'todos:index' %}">

        {% if next %}
            Home
        {% else %}
            Finished!
        {% endif %}
    </a>

{% endblock %}
