{% extends "focus/base.html" %}

{% block pageclass %}-index{% endblock %}

{% block body %}

    <h1>
        Focus
        <small>Click on a task to focus on it</small>
    </h1>

    {% csrf_token %}

    {% for todo in todos %}
        <a class="task{% if todo.complete %} -complete{% endif %}"
           href="{% url 'todos:focus' todo.pk %}">

            <span class="priority">
                {{ forloop.counter }}
            </span>

            {{ todo.text }}

            <span class="checkbox js-toggle"
               data-href="{% url 'todos:toggle' todo.pk %}">
                {% if todo.complete %}
                    <i class="fa fa-check-square"></i>
                {% else %}
                    <i class="fa fa-square"></i>
                {% endif %}
            </span>
        </a>
    {% empty %}
        <p>No tasks yet.</p>
    {% endfor %}

    <p class="todolistfooter">
        <span class="js-numcompleted">
            {{ completed }}
        </span> / {{ total }} |
        <a class="js-reset"
           href="{% url 'todos:reset' %}">
            Reset
        </a>
    </p>

{% endblock %}
